force-app/main/default/flows/Campaign_After_Insert_Create_Campaign_Member_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Insert_Collection</name>
        <label>Add to Insert Collection</label>
        <locationX>704</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>InsertCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCampaignMemberStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Custom_Campaign_Member_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_New_Campaign_Member_Status</name>
        <label>Build New Campaign Member Status</label>
        <locationX>926</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>loopCampaignMemberStatus.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Custom_Campaign_Member_Statuses.Is_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCampaignMemberStatus.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Custom_Campaign_Member_Statuses.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCampaignMemberStatus.SortOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCampaignMemberStatus.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCampaignMemberStatus.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Custom_Campaign_Member_Statuses.Responded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Insert_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sort</name>
        <label>Set Sort</label>
        <locationX>704</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>Sort</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getDefaultCampaignMemberStatuses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Custom_Campaign_Member_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Increase Sort by 1</description>
        <name>Sort_Itr</name>
        <label>Sort ++</label>
        <locationX>926</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>Sort</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_New_Campaign_Member_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Custom_Member_Statuses</name>
        <label>Has Custom Member Statuses?</label>
        <locationX>453</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Break</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomCampaignMemberStatuses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDefaultCampaignMemberStatuses</targetReference>
            </connector>
            <label>Yes, Continue</label>
        </rules>
    </decisions>
    <description>This flow handles the creation of Campaign Member statuses, these statuses are managed within custom metadata types.</description>
    <environments>Default</environments>
    <interviewLabel>Campaign (After Insert --&gt; Create Campaign Member Statuses) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign (After Insert --&gt; Create Campaign Member Statuses)</label>
    <loops>
        <name>Loop_Custom_Campaign_Member_Statuses</name>
        <label>Loop Custom Campaign Member Statuses</label>
        <locationX>704</locationX>
        <locationY>793</locationY>
        <collectionReference>getCustomCampaignMemberStatuses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sort_Itr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Records</name>
        <label>Insert Records</label>
        <locationX>464</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <inputReference>InsertCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>292</locationX>
        <locationY>795</locationY>
        <inputReference>getDefaultCampaignMemberStatuses</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getCustomCampaignMemberStatuses</name>
        <label>getCustomCampaignMemberStatuses</label>
        <locationX>285</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Custom_Member_Statuses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign_Member_Status__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDefaultCampaignMemberStatuses</name>
        <label>getDefaultCampaignMemberStatuses</label>
        <locationX>704</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Sort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>157</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>getCustomCampaignMemberStatuses</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the collection of Campaign Members to Insert</description>
        <name>InsertCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>loopCampaignMemberStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Sort</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
