force-app/main/default/flows/Handle_Data_Skew_Update_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Campaign_to_Update_Defaults</name>
        <label>Set Campaign to Update Defaults</label>
        <locationX>590</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Threshold</name>
        <label>Validate Threshold</label>
        <locationX>323</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.NumberOfOpportunities</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SkewThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_to_Update_Defaults</targetReference>
            </connector>
            <label>Update Campaign</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Data Skew (Update Campaign) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Data Skew (Update Campaign)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Campaign_Record</name>
        <label>Update Campaign Record</label>
        <locationX>775</locationX>
        <locationY>432</locationY>
        <inputReference>Campaign</inputReference>
    </recordUpdates>
    <start>
        <locationX>205</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Validate_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>SkewThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Setup.Campaign_Skew__c.Skew_Threshold__c</elementReference>
        </value>
    </variables>
</Flow>
