force-app/main/default/flows/Handle_Record_Data_Skew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_to_new_Parent</name>
        <label>Assign Campaign to new Parent</label>
        <locationX>963</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>$Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newParentCampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Campaign</name>
        <label>Deactivate Campaign</label>
        <locationX>1140</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Total_number_of_Campaigns</name>
        <label>Set Total number of Campaigns</label>
        <locationX>808</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>TotalRelatedCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAllChildCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Cloned_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Parent_Campaign</name>
        <label>Create Parent Campaign?</label>
        <locationX>455</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>getAllChildCampaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Parent_Campaign</targetReference>
            </connector>
            <label>Yes, Create Parent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate that the Campaign should be processed.
1) Opportunities were added.
2) Number of Opportunities has met/crossed the threshold</description>
        <name>Validate_Threshold</name>
        <label>Validate Threshold</label>
        <locationX>151</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>return</defaultConnectorLabel>
        <rules>
            <name>Threshold_Crossed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfOpportunities</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>SkewThresholdOffset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Campaign</targetReference>
            </connector>
            <label>Threshold Crossed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CampaignNameBase</name>
        <dataType>String</dataType>
        <expression>BlankValue({!$Record.Parent.Name},{!ParentCampaignName})</expression>
    </formulas>
    <formulas>
        <name>ClonedCampaignName</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;(&quot;+Text({!TotalRelatedCampaigns}+1)+&quot;) &quot;+{!CampaignNameBase},80)</expression>
    </formulas>
    <formulas>
        <name>ParentCampaignId</name>
        <dataType>String</dataType>
        <expression>BlankValue({!$Record.ParentId},{!newParentCampaignId})</expression>
    </formulas>
    <formulas>
        <description>The Campaign Naming Format for Creating a Parent Campaign When Needed.</description>
        <name>ParentCampaignName</name>
        <dataType>String</dataType>
        <expression>Left({!$Record.Name},80)</expression>
    </formulas>
    <formulas>
        <name>SkewThresholdOffset</name>
        <dataType>Number</dataType>
        <expression>{!SkewThreshold} - 200</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Handle Record Data Skew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Record Data Skew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Cloned_Campaign</name>
        <label>Insert Cloned Campaign</label>
        <locationX>963</locationX>
        <locationY>376</locationY>
        <assignRecordIdToReference>newClonedRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Deactivate_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedRevenue</field>
            <value>
                <elementReference>$Record.ExpectedRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ClonedCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Parent_Campaign</name>
        <label>Insert Parent Campaign</label>
        <locationX>463</locationX>
        <locationY>118</locationY>
        <assignRecordIdToReference>newParentCampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Campaign_to_new_Parent</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedRevenue</field>
            <value>
                <elementReference>$Record.ExpectedRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ParentCampaignName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <description>Retrieve all Child Campaigns from Parent Campaign. This is primarily used to calculate the total number of Campaigns.</description>
        <name>getAllChildCampaigns</name>
        <label>getAllChildCampaigns</label>
        <locationX>670</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Total_number_of_Campaigns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>1306</locationX>
        <locationY>376</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>33</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Validate_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfOpportunities</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newClonedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newParentCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkewThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Setup.Campaign_Skew__c.Skew_Threshold__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalRelatedCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
