force-app/main/default/flows/One_time_donation_email_builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddDonorIntroDetailsToFlow</name>
        <label>AddDonorIntroDetailsToFlow</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingDonorIntro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingDonorSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOtherTextElementsToBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addNewDonorIntro</name>
        <label>addNewDonorIntro</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewDonorIntro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDonorSubject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOtherTextElementsToBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOtherTextElementsToBody</name>
        <label>AddOtherTextElementsToBody</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunitythankyoubody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Footer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_Email_Body</name>
        <label>Create Email Body</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>EmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewOrExistingDonor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NewOrExistingDonor</name>
        <label>NewOrExistingDonor</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>addNewDonorIntro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Donor</defaultConnectorLabel>
        <rules>
            <name>Existing_Donor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Donor_Contact_Record.npo02__FirstCloseDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddDonorIntroDetailsToFlow</targetReference>
            </connector>
            <label>Existing Donor</label>
        </rules>
    </decisions>
    <description>This flow creates the email body and subject for a new one-time donation thank you email. it will differentiate between new donors and existing donors. 
Feel free to expand this flow with campaign specifics etc.</description>
    <environments>Default</environments>
    <interviewLabel>One-time donation email builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One-time donation email builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Donor_Contact_Record</name>
        <label>Find Donor Contact Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Email_Body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpportunity.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Donor_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ExistingDonorIntro</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);"&gt;Let me start by saying that i'm incredibly grateful for your ongoing support! Your generosity makes it possible for us to do what we do. On behalf of all of us here at {!$User.CompanyName}, Thank you for what you've done for us so far, and we are looking forward to what is yet to come! &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExistingDonorSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for your continued support!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Footer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;If you have any questions, feel free to reach out to us!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once again, thank you very much for your support!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind regards,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.Signature}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Find_Donor_Contact_Record.FirstName},&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewDonorIntro</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Let me start by saying that i'm incredibly grateful you decided to support {!$User.CompanyName}! Your generosity makes it possible for us to do what we do. On behalf of all of us here, Thank you and we hope you will stay with us for a long time to come!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewDonorSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A heartfelt welcome and thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Opportunitythankyoubody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Now allow me to also say thank you specifically for this donation!&lt;/p&gt;&lt;p&gt;Your gift with an amount of {!NewOpportunity.Amount} has been received and processed successfully! &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
