force-app/main/default/flows/Opportunity_follow_up_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Donor</name>
        <label>Send Email To Donor</label>
        <locationX>671</locationX>
        <locationY>583</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Task_of_New_Single_Donor_email_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Build_Email.EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Build_Email.EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Send_email</name>
        <label>Send email?</label>
        <locationX>301</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Build_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send</defaultConnectorLabel>
        <rules>
            <name>Do_not_send</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.npsp__Deceased__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.npsp__Do_Not_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acknowledge_Status_Do_not_Send</targetReference>
            </connector>
            <label>Do not send</label>
        </rules>
        <rules>
            <name>No_email_address_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_to_be_Acknowledge_Status</targetReference>
            </connector>
            <label>No email address available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity follow up flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity follow up flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_of_New_Single_Donor_email_sent</name>
        <label>Create Task of New Single Donor email sent</label>
        <locationX>823</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Update_Opportunity_Acknowledge_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Build_Email.EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Build_Email.EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>309</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acknowledge_Status_Do_not_Send</name>
        <label>Update Acknowledge Status Do not Send</label>
        <locationX>15</locationX>
        <locationY>582</locationY>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Acknowledge_Status</name>
        <label>Update Opportunity Acknowledge Status</label>
        <locationX>981</locationX>
        <locationY>578</locationY>
        <inputAssignments>
            <field>npsp__Acknowledgment_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_be_Acknowledge_Status</name>
        <label>Update Opportunity to  be Acknowledge Status</label>
        <locationX>308</locationX>
        <locationY>822</locationY>
        <inputAssignments>
            <field>npsp__Acknowledgment_Status__c</field>
            <value>
                <stringValue>To Be Acknowledged</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Acknowledgment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Do Not Acknowledge</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Build_Email</name>
        <label>Build Email</label>
        <locationX>523</locationX>
        <locationY>581</locationY>
        <connector>
            <targetReference>Send_Email_To_Donor</targetReference>
        </connector>
        <flowName>One_time_donation_email_builder</flowName>
        <inputAssignments>
            <name>NewOpportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
